[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Website"

[[workflows.workflow]]
name = "Start Website"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s . -l 5000"

[[workflows.workflow]]
name = "Start Website Alternative"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
