modules = ["nodejs-23", "nodejs-24", "nodejs-20", "nodejs-19", "nodejs-18", "nodejs-16", "nodejs-14", "php-8.4", "php-8.1", "python-3.9", "python-3.8", "python-base-3.13", "python-3.10", "python-base-3.11", "python-3.12", "swift-5.6", "swift-5.8", "dotnet-9.0", "bash", "nodejs-22", "web", "zig-0.11", "ruff"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Full Stack Server"

[[workflows.workflow]]
name = "Start Website"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Start Website Alternative"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"

[[workflows.workflow]]
name = "Python Server"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "PHP Server"
author = 45532938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"

[[workflows.workflow]]
name = "Full Stack Server"
author = 45532938
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 database.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 2"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
